@tailwind base;
@tailwind components;
@tailwind utilities;

.inspector-theme .content {
  background-color: rgba(150, 188, 224, 0.5);
}

.inspector-theme .margin {
  background-color: rgba(248, 197, 153, 0.5);
}

.inspector-theme .padding {
  background-color: rgba(185, 214, 175, 0.5);
}

.inspector-theme .tips {
  display: none !important;
}
